@model WebGrupo3S.Models.perfil

<div class="box box-success">
    <div class="box-header with-border">
        <h4 class="box-title" style="font-size: 1.6em !important;">Perfiles</h4>
    </div>

    <div class="box-body">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title text-bold">Nuevo Registro</h3>
                    </div>

                    <form id="form-perfil">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                                                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>
                                                <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Descripción" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <button type="button" id="btn-cancelar" class="btn btn-warning form-control"> <i class="fa fa-remove"></i> Cancelar</button>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <button type="button" id="btn-crear" class="btn btn-success form-control"> <i class="fa fa-check"></i> Crear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

