
ul.treeview-menu li.active a{
            background-color: #1368d8;
            color: #ffffff
} 

ul.treeview-menu a.high{
    background-color: #1368d8;
    color: #ffffff
}

.glyphicon-plus {
    color:#22a270;
    font-size:20px;
}